<html>
    <head>
	<title>Sarva Jana Hitam</title>
	<link rel="stylesheet" href="css/site.css"/>
    </head>
    <body>
	<div id="header">
	    <h1><a href="index.html">Sarva Jana Hitam</a></h1>
	</div>
	<ul id="nav"/>
	    <li><a href="aboutus.html">About Us</a></li>
	    <li><a href="events.html">Events</a></li>
	    <li><a href="projects.html">Projects</a></li>
	    <li><a href="blog.html">Blog</a></li>
	    <li><a href="donate.html">Donate</a></li>
	    <li><a href="photos.html">Photos</a></li>
	</ul>
	<div id="content">
	    {{content}}
	</div>
	<div id="footer">
	    <p>&copy; 2009 Sarvajanahitam Charitable Trust</p>
	</div>
    </body>
</html>
